@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
	font-family: 'Open Sans', sans-serif;
}

button {
	font-size: 20px;
	margin: 5px;
}

#greeting {
	font-size: 20px;
	border-bottom: 1px solid;
}

#quote {
	position: relative;
	left: 20px;
	width: 800px;
	font-size: 40px;
	font-family: serif;
}
