html 
  head  
    //- link(rel="stylesheet", href="./public/style.css")
    title Home Page 
  body  
    h1 Home Page Bruh!
    label Name: 
    input 
    button Submit    
    button 
      a(href="/admin", rel="noopener noreferrer") Admin 